/* Custom styling */

.bg-custom {
  background-color: #f2f6e9;
}

.description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h4 {
  color: red;
}
.description h3 {
  color: #6ab446;
}
.description h2 {
  color: blue;
}
.description p {
  color: #6a0400;
  font-size: 1.2rem;
  line-height: 1.25;
}

.footer {
  position: flex;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

.footer-ext {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
  font-size: 0.9rem;
  padding: 1px;
  text-align: center;
}
th, td {
  height: 25px;
  vertical-align: center;
}
th {
  background-color: powderblue;
  color: blue;
}

tr:nth-child(even) {background-color: #f2f2f2;}

dl {
  column-count: 3;
  height: 300px;
}



@media (max-width: 575.98px) {

  .bg-custom {
    background-color: #f2f6e9;
  }

  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h3 {
    font-size: 2em;
  }

  .description h2 {
    color: blue;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}
