{% extends "basein.html" %}

{% block content %}

<div class="features">
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Buy Positions</h3>
        <table>
          <col width="30">
          <col width="100">
          <col width="30">
          <col width="80">
          <col width="80">
          <col width="30">

          <tr> <!-- Header -->
            <th>Gap</th>
            <th>Agreement</th>
            <th>Qty</th>
            <th>Buy Rate</th>
            <th>Cur Rate</th>
            <th>Points</th>
          </tr>

          <!-- Table Data from backend -->
          {% for record in b_content %}
          <tr>
            <td>  {{ record["gap"] }} </td>
            <td>  {{ record["agreement"] }} </td>
            <td>  {{ record["lot_qty"] }} </td>
            <td>  {{ record["entry_rate"] }} </td>
            <td>  {{ record["cur_rate"] }} </td>
            <td>  {{ record["depth"] }} </td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Sell Positions</h3>
        <table>
          <col width="30">
          <col width="100">
          <col width="30">
          <col width="80">
          <col width="80">
          <col width="30">

          <tr> <!-- Header -->
            <th>Gap</th>
            <th>Agreement</th>
            <th>Qty</th>
            <th>Sell Rate</th>
            <th>Cur Rate</th>
            <th>Points</th>
          </tr>

          <!-- Table Data from backend -->
          {% for record in s_content %}
          <tr>
            <td>  {{ record["gap"] }} </td>
            <td>  {{ record["agreement"] }} </td>
            <td>  {{ record["lot_qty"] }} </td>
            <td>  {{ record["entry_rate"] }} </td>
            <td>  {{ record["cur_rate"] }} </td>
            <td>  {{ record["depth"] }} </td>
          </tr>
          {% endfor %}
        </table>
    </div> <!-- Sell Positions -->

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Summary</h3>
      <table>
        <tr> <!-- Header -->
          <th>Current Status</th>
        </tr>
        <tr>  <td>Snapshot </td>  </tr>
      </table>
      <br>
      <div style="text-align:center">
        {% if summary %}
         <p> <strong>Margin : {{ summary["margin"] }} </strong></p>
         <p> <strong>Volume : {{ summary["volume"] }} </strong></p>
         <p> <strong>Running Loss : {{ summary["run_loss"] }} </strong></p>
         <p> <strong>Investment : {{ summary["investment"] }} </strong></p>
        {% endif %}
        <br>
      </div>

    </div> <!-- Summary -->

  </div> <!-- row -->
</div> <!-- features -->

{% endblock %}
