{% extends "basein.html" %}

{% block content %}

<div style="text-align:center;">
<h4 style="color:orange" > Yay! we are here! </h4>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Quisque interdum quam odio, quis placerat ante luctus eu.
  Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.
  Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
</p>

</div>

{% endblock %}
