{% extends "basein.html" %}

{% block content %}


  <div class="card">
    <h4 class="card-header" style="color:#6a0400">Summary</h4>
    <form class="form-group" role="form" method="post" action="">
      {{ form.csrf_token }}
    <div class="card-body row">
      <div class="col-lg-3 col-md-3 col-sm-12">
      {% if summary %}
       <p1>Margin : {{ summary["margin"] }} </p1><br>
       <p1>Volume : {{ summary["volume"] }} </p1><br>
       <p1>Running Loss : {{ summary["run_loss"] }} </p1><br>
       <p1>Investment : {{ summary["investment"] }} </p1>
      {% endif %}
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        {%if agreements %}
          <p1> {{ agreements[0] }}  {{ form.cur_month() }} </p1><br>
          <p1> {{ agreements[1] }}  {{ form.next_month() }} </p1><br>
          <p1> {{ agreements[2] }}  {{ form.later_month() }} </p1>
        {% endif %}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <button class="btn btn-outline-primary" type="submit">Update Ledger & Life</button>
      </div>
    </div> <!-- card-body -->
    </form>
  </div> <!-- card -->

<div class="features">
  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
      <h3 class="feature-title">Buy Positions</h3>
        <table>
          <col width="30">
          <col width="100">
          <col width="30">
          <col width="80">
          <col width="80">
          <col width="30">

          <tr> <!-- Header -->
            <th>Gap</th>
            <th>Agreement</th>
            <th>Qty</th>
            <th>Buy Rate</th>
            <th>Cur Rate</th>
            <th>Points</th>
          </tr>

          <!-- Table Data from backend -->
          {% for record in b_content %}
          <tr>
            <td>  {{ record["gap"] }} </td>
            <td>  {{ record["agreement"] }} </td>
            <td>  {{ record["lot_qty"] }} </td>
            <td>  {{ record["entry_rate"] }} </td>
            <td>  {{ record["cur_rate"] }} </td>
            <td>  {{ record["depth"] }} </td>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- card -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
      <h3 class="feature-title">Sell Positions</h3>
        <table>
          <col width="30">
          <col width="100">
          <col width="30">
          <col width="80">
          <col width="80">
          <col width="30">

          <tr> <!-- Header -->
            <th>Gap</th>
            <th>Agreement</th>
            <th>Qty</th>
            <th>Sell Rate</th>
            <th>Cur Rate</th>
            <th>Points</th>
          </tr>

          <!-- Table Data from backend -->
          {% for record in s_content %}
          <tr>
            <td>  {{ record["gap"] }} </td>
            <td>  {{ record["agreement"] }} </td>
            <td>  {{ record["lot_qty"] }} </td>
            <td>  {{ record["entry_rate"] }} </td>
            <td>  {{ record["cur_rate"] }} </td>
            <td>  {{ record["depth"] }} </td>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- card -->
    </div> <!-- Sell Positions -->

  </div> <!-- row -->
</div> <!-- features -->

{% endblock %}
